.fade-in-animation {
    position: fixed;
    animation: fadeIn forwards 1s;
}


@keyframes fadeIn {
    0%  {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5000px);
    }
}


.fade-out-animation {
    animation: fadeOut forwards 225ms;
}


@keyframes fadeOut {
    from {
        transform: translateX(80%);
    }

    to {
        transform: translateX(0);
    }
}



