.header {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}


.burger-menu div {
    width: 40px;
    background-color: var(--bs-light);
    height: 3px;
}


.first-section {
    display: flex;
    gap: 50px;
}


.weather-icon {
    height: 60px;
    width: auto;
}


.second-section {
    display: flex;
    gap: 20%;
}


.second-section-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.second-section h1 {
    font-size: 56px;
}


.min-max-temprature {
    display: flex;
    gap: 10px;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.cards-column {
    display: flex;
    gap: 20px;
}
